<div class="row">
	<div class="columns small-12">
		<div class="overlay-message">
			<div class="title">
				<h3>150 Perros y gatos buscan URGENTE un hogar.</h3>
				<h3>13 de Junio parque del Perro Cali.</h3>
				<p>Por motivos de fuerza mayor <a target="_blank" href="https://www.facebook.com/FundacionUnidadAnimal">Fundación Unidad Animal</a> busca un nuevo hogar para los perros y gatos que tienen a su cuidado. De no encontrar un lugar, tristemente, se considerará la eutanasia para todos ellos.</p>
				<p>Si no puedes tener uno de estos lindos animales en tu hogar puedes donar alimento y medicina, y si conoces un lugar donde la fundación pueda seguir operando también será útil.</p>
				<p>Agradecemos  difundir esta información y ayudemos a estos seres vivos que tienen derecho a ser respetados, amados y acogidos en un hogar, donde se les brinde como mínimo los beneficios de techo, comida y cuidados.</p>
			</div>
		</div>
		<img src="img/donacion.jpg" class="smaller-img" alt="Jornada de Adopción Cali">
		<div class="overlay-contacts">
			<h4>Contacto:</h4>
			<ul>
				<li><a href="mailto:unidosfelices@hotmail.com?subject=Jornada%20de%20adopción%20Cali">unidosfelices@hotmail.com</a></li>
				<li><a href="http://unidadanimal.org" target="_blank">Unidadanimal.org</a></li>
				<li>Instagram: <a href="https://instagram.com/fundacionunidadanimal" target="_blank">fundacionunidadanimal</a></li>
				<li>Twitter: <a href="https://twitter.com/unidadfundacion">@unidadfundacion</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="close-overlay" ng-click="closeOverlay()">X</div>